<form class="form-register">
    <div class="mb-3">
        <label for="user-first" class="form-label">First Name</label>
        <input type="text" class="form-control" id="user-first">
    </div>
    <div class="mb-3">
        <label for="user-last" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="user-last">
    </div>
    <div class="mb-3">
        <label for="user-email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="user-email">
    </div>
    <div class="mb-3">
        <label for="user-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="user-password">
    </div>


    </div> {{! This is for the Sign Up button, does not have 'submit' event listener. Works only with click }}
    <a type="submit" class="btn btn-primary mb-3" href="/login">Sign Up</a>
</form>
<script src="/js/register.js"></script>