<div class="container">
    <div class="card mt-3 mb-3">
        <div class="card-header" style="background-color:silver">
            <div class="float-end">
                <b>2/09/2023</b>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Chris Simmonds</h5>
            <p class="card-text">Playing around with styling is fun!</p>
            <a href="#" class="btn btn-primary float-end">View Comments</a>
        </div>
    </div>
    <div class="card mt-3 mb-3">
        <div class="card-header" style="background-color:silver">
            <div class="float-end">
                <b>2/10/2023</b>
            </div>        
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            {{!-- <a href="#" class="btn btn-primary float-end">View Comments</a> --}}
        </div>
    </div>
    <div class="card mt-3 mb-3">
        <div class="card-header" style="background-color:silver">
            <div class="float-end">
                <b>2/10/2023</b>
            </div>        
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            {{!-- <a href="#" class="btn btn-primary float-end">View Comments</a> --}}
        </div>
    </div>
</div>