<div class="card mt-3 mb-3">
  <div class="d-flex justify-content-center card-header dark">
    Welcome to the Content Management Blog!
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="d-flex justify-content-center">Don't have an account?</p>
      <a class="d-flex justify-content-center" href="/api/signUp" class="btn btn-primary">Sign Up Here!</a>
    </blockquote>
  </div>
</div>