<div class="container">
    <div class="card mt-3 mb-3">
        <div class="card-header" style="background-color:silver">
            <div class="float-end" style="font-size:larger">
                <b>2/09/2023</b>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Chris Simmonds</h5>
            <p class="card-text">Playing around with styling is fun!</p>
            <a href="#" class="btn btn-primary float-end">View Comments</a>
        </div>
    </div>
    <div class="card mt-3 mb-3">
        <div class="card-header" style="background-color:silver">
            <div class="float-end" style="font-size:larger">
                <b>2/10/2023</b>
            </div>        
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary float-end">View Comments</a>
        </div>
    </div>
    <div class="card mt-3 mb-3">
        <div class="card-header" style="background-color:silver">
            <div class="float-end" style="font-size:larger">
                <b>2/10/2023</b>
            </div>        
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary float-end">View Comments</a>
        </div>
    </div>
</div>

<div class="card mt-3 mb-3" style="height: 18rem;">
  <div class="d-flex justify-content-center card-header dark" style="background-color:silver">
    <b style="font-size:xx-large">Welcome!</b>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="">Share your thoughts!</p>
      <p class="">Log in or sign up in order to make your own posts!</p>
      <br>
      <a class="btn btn-primary" href="/guest" class="btn btn-primary">Sign Up Here!</a>
    </blockquote>
  </div>
</div>