

<div>
    <form type="submit" class="form-login mt-3" style="display:flex; align-items:center; flex-direction:column;">
    <h2 style="border-bottom:thick solid rgb(59, 59, 59)">Welcome Back!</h2>
        <div class="mb-3">
            <label for="user-email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="user-email">
        </div>
        <div class="mb-3">
            <label for="user-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="user-password">
        </div> {{!-- This is for the Log In button, does not have 'submit' event listener. Works only with click --}}
        <button type="submit" style="display:flex; justify-content:center;" class="btn btn-primary mb-3">Log In</button>
    </form>
</div>

<div class="formBottom">
    <p>Don't have an account? <a href="/signUp">Sign up here</a> instead.</p>
</div>

<script src="./js/login.js"></script>
