<div class="form-register">
    <div class="mb-3">
        <label for="user-email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="user-email">
    </div>
    <div class="mb-3">
        <label for="user-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="user-password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</div>

{{!-- When clicking the login button, a 404 error is thrown due to not finding this file --}}
<script src="./js/login.js"></script> 