
{{!-- Need to to capture username, post_title and post_content --}}
<div class="postForm">

    <article class="card w-50 mb-3 d-flex align-items-center mt-3"
        style="display:flex; justify-content:center; border: 1px solid black;">
        <form id="newPost-form" type="submit" class="card-body"
            style="display:flex; flex-direction:column; align-items:center;">

            <div class="mb-3">
                <label class="card-title">Give your post a title:</label>
                <input type="text" class="form-control" id="post_title">
                <label for="post_content" class="form-label">
                    Write your post here:
                </label>

                <textarea class="form-control" id="post_content" cols="100" rows="5"></textarea>
            </div>
            <button class="btn btn-primary mt-3">Post It!</button>
        </form>
    </article>
</div>

<div class="input-group input-group-lg w-50">
</div>

{{!-- class="d-flex justify-content-center input-group-text w-50 mt-3" --}}
<script src="./js/post.js"></script>